*::-webkit-scrollbar {
  width: 15px;
  height: 100%;
  background-color: rgba(80, 80, 80, 0.8);
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
  background-color: rgba(225, 225, 225, 0.5);
}

*::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: rgba(225, 225, 225, 0.7);
}

.App {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0px;
  overflow: hidden;
  overflow-y: auto;
}

header {
  width: 100%;
  height: 100px;
  background-color: rgb(89, 192, 41);
  border-bottom: 5px solid rgb(80, 80, 80);
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 15px black;
}

#header-left-container {
  height: 100%;
  margin-left: 25px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

#header-center-container {
  display: none;
  position: relative;
}

#list {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

#logo {
  width: 75px;
  height: 75px;
}

#header-text {
  margin: 0px;
  font-size: 60px;
  color: white;
  -webkit-text-stroke: 2px rgb(80, 80, 80);
  position: relative;
  animation: header-animation 2s linear;
}

@keyframes header-animation{
  from{
    color: transparent;
  }to{
    color: white;
  }
}

#header-text-after {
  display: none;
  margin: 0px;
  font-size: 60px;
  color: white;
  -webkit-text-stroke: 1px rgb(80, 80, 80);
}

nav {
  margin: 0px 20px 0px 0px;
}

ul {
  list-style: none;
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
  display: inline-flex;
  flex-wrap: nowrap;
}

li {
  margin-right: 30px;
  padding: 0px;
}

.nav a {
  width: 100%;
  text-decoration: none;
  margin: 0px;
  padding: 0px 10px 0px 5px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  -webkit-text-stroke: 0.4px rgb(80, 80, 80);
  z-index: 1;
  position: relative;
}

.nav a::after {
  content: '';
  position: absolute;
  width: 100%;
  bottom: -41.5px;
  right: 0px;
  height: 0px;
  background-color: transparent;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: height 0.25s linear;
}

.nav a:hover::after {
  height: 77px;
  background-color: white;
  border-left: 3px solid rgb(80, 80, 80);
  border-right: 3px solid rgb(80, 80, 80);
  border-top: 3px solid rgb(80, 80, 80);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: -1;
}

.nav a:hover {
  color: rgb(89, 192, 41);
  -webkit-text-stroke: 0.3px transparent;
}

#droplist-container {
  content: '';
  position: absolute;
  width: 150px;
  height: 200px;
  background-color: rgb(89, 192, 41);
  border: 2px solid rgb(80, 80, 80);
  top: 80px;
  right: 0px;
  animation: ShowDropList 1s;
  z-index: 1;
}

@keyframes ShowDropList {
  from {
    height: 0px;
  }
  to {
    height: 200px;
  }
}

.droplist {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#droplist-element {
  width: 100%;
  height: 20%;
  margin: 0px;
  padding: 0px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#droplist-element::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgb(80, 80, 80);
  top: -2px;
}

.droplist a {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  font-weight: 700;
  color: white;
  -webkit-text-stroke: 0.3px black;
}

@media (max-width: 1120px) {
  #header-text {
    font-size: 40px;
  }
  #logo {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 1000px) {
  #header-text {
    display: none;
  }
  #header-text-after {
    display: block;
  }
}

@media (max-width: 850px) {
  header {
    justify-content: space-evenly;
  }

  #header-text-after {
    display: none;
  }
}

@media (max-width: 725px) {
  #header-left-container {
    display: none;
  }

  nav {
    width: 100%;
    margin-right: 30px;
    margin-left: 30px;
  }

  ul {
    display: flex;
    justify-content: space-between;
  }

  li {
    margin: 0;
  }
}

@media (max-width: 650px) {
  .nav a {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  #header-left-container {
    height: 100%;
    margin-left: 0px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  #logo {
    width: 60px;
    height: 60px;
  }

  #header-text {
    display: block;
    font-size: 40px;
  }

  #header-center-container {
    display: flex;
  }

  nav {
    display: none;
  }
}

@media (max-width: 430px) {
  #logo {
    width: 50px;
    height: 50px;
  }

  #header-text {
    font-size: 35px;
  }

  #list {
    width: 25px;
    height: 25px;
  }
}

/* home page */

.home-page {
  width: 100vw;
  min-height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

#home-page-animation {
  position: absolute;
  left: -700px;
  width: 100%;
  height: 25%;
  transform: rotateY(0deg);
  transform: rotateZ(90deg);
  background-color: black;
  opacity: 15%;
  animation: freq-animation 10s ease-in-out infinite;
}

@keyframes freq-animation {
  0%,
  100% {
    clip-path: polygon(
      0% 47%,
      2% 43%,
      4% 39%,
      7% 35%,
      10% 32%,
      12% 30%,
      14% 29%,
      16% 28%,
      19% 27%,
      22% 28%,
      25% 30%,
      27% 32%,
      29% 35%,
      31% 38%,
      34% 41%,
      36% 43%,
      39% 46%,
      42% 47%,
      44% 47%,
      47% 46%,
      50% 43%,
      52% 40%,
      54% 37%,
      56% 34%,
      58% 31%,
      60% 28%,
      63% 25%,
      65% 23%,
      68% 21%,
      70% 21%,
      73% 21%,
      76% 23%,
      78% 25%,
      80% 28%,
      82% 31%,
      84% 34%,
      86% 37%,
      87% 39%,
      89% 41%,
      91% 43%,
      94% 44%,
      96% 43%,
      98% 41%,
      100% 39%,
      100% 100%,
      0% 100%
    );
  }
  10% {
    clip-path: polygon(
      0% 47%,
      2% 51%,
      4% 54%,
      7% 59%,
      9% 62%,
      11% 65%,
      13% 67%,
      15% 69%,
      18% 70%,
      21% 69%,
      24% 67%,
      26% 64%,
      29% 60%,
      31% 56%,
      33% 51%,
      35% 47%,
      37% 42%,
      39% 38%,
      41% 35%,
      43% 32%,
      46% 29%,
      48% 27%,
      50% 26%,
      53% 25%,
      56% 25%,
      58% 26%,
      61% 28%,
      63% 30%,
      65% 33%,
      67% 37%,
      69% 41%,
      71% 46%,
      73% 51%,
      75% 55%,
      77% 58%,
      80% 60%,
      83% 60%,
      87% 59%,
      90% 56%,
      92% 53%,
      94% 49%,
      96% 45%,
      98% 42%,
      100% 39%,
      100% 100%,
      0% 100%
    );
  }
  20% {
    clip-path: polygon(
      0% 47%,
      2% 43%,
      4% 39%,
      7% 35%,
      10% 32%,
      12% 30%,
      14% 29%,
      16% 28%,
      19% 27%,
      22% 28%,
      25% 30%,
      27% 32%,
      29% 35%,
      31% 38%,
      34% 41%,
      36% 43%,
      39% 46%,
      42% 47%,
      44% 47%,
      47% 46%,
      50% 43%,
      52% 40%,
      54% 37%,
      56% 34%,
      58% 31%,
      60% 28%,
      63% 25%,
      65% 23%,
      68% 21%,
      70% 21%,
      73% 21%,
      76% 23%,
      78% 25%,
      80% 28%,
      82% 31%,
      84% 34%,
      86% 37%,
      87% 39%,
      89% 41%,
      91% 43%,
      94% 44%,
      96% 43%,
      98% 41%,
      100% 39%,
      100% 100%,
      0% 100%
    );
  }
  30% {
    clip-path: polygon(
      0% 47%,
      2% 51%,
      4% 54%,
      7% 59%,
      9% 62%,
      11% 65%,
      13% 67%,
      15% 69%,
      18% 70%,
      21% 69%,
      24% 67%,
      26% 64%,
      29% 60%,
      31% 56%,
      33% 51%,
      35% 47%,
      37% 42%,
      39% 38%,
      41% 35%,
      43% 32%,
      46% 29%,
      48% 27%,
      50% 26%,
      53% 25%,
      56% 25%,
      58% 26%,
      61% 28%,
      63% 30%,
      65% 33%,
      67% 37%,
      69% 41%,
      71% 46%,
      73% 51%,
      75% 55%,
      77% 58%,
      80% 60%,
      83% 60%,
      87% 59%,
      90% 56%,
      92% 53%,
      94% 49%,
      96% 45%,
      98% 42%,
      100% 39%,
      100% 100%,
      0% 100%
    );
  }
  40% {
    clip-path: polygon(
      0% 47%,
      2% 43%,
      4% 39%,
      7% 35%,
      10% 32%,
      12% 30%,
      14% 29%,
      16% 28%,
      19% 27%,
      22% 28%,
      25% 30%,
      27% 32%,
      29% 35%,
      31% 38%,
      34% 41%,
      36% 43%,
      39% 46%,
      42% 47%,
      44% 47%,
      47% 46%,
      50% 43%,
      52% 40%,
      54% 37%,
      56% 34%,
      58% 31%,
      60% 28%,
      63% 25%,
      65% 23%,
      68% 21%,
      70% 21%,
      73% 21%,
      76% 23%,
      78% 25%,
      80% 28%,
      82% 31%,
      84% 34%,
      86% 37%,
      87% 39%,
      89% 41%,
      91% 43%,
      94% 44%,
      96% 43%,
      98% 41%,
      100% 39%,
      100% 100%,
      0% 100%
    );
  }
  50% {
    clip-path: polygon(
      0% 47%,
      2% 51%,
      4% 54%,
      7% 59%,
      9% 62%,
      11% 65%,
      13% 67%,
      15% 69%,
      18% 70%,
      21% 69%,
      24% 67%,
      26% 64%,
      29% 60%,
      31% 56%,
      33% 51%,
      35% 47%,
      37% 42%,
      39% 38%,
      41% 35%,
      43% 32%,
      46% 29%,
      48% 27%,
      50% 26%,
      53% 25%,
      56% 25%,
      58% 26%,
      61% 28%,
      63% 30%,
      65% 33%,
      67% 37%,
      69% 41%,
      71% 46%,
      73% 51%,
      75% 55%,
      77% 58%,
      80% 60%,
      83% 60%,
      87% 59%,
      90% 56%,
      92% 53%,
      94% 49%,
      96% 45%,
      98% 42%,
      100% 39%,
      100% 100%,
      0% 100%
    );
  }
  60% {
    clip-path: polygon(
      0% 47%,
      2% 43%,
      4% 39%,
      7% 35%,
      10% 32%,
      12% 30%,
      14% 29%,
      16% 28%,
      19% 27%,
      22% 28%,
      25% 30%,
      27% 32%,
      29% 35%,
      31% 38%,
      34% 41%,
      36% 43%,
      39% 46%,
      42% 47%,
      44% 47%,
      47% 46%,
      50% 43%,
      52% 40%,
      54% 37%,
      56% 34%,
      58% 31%,
      60% 28%,
      63% 25%,
      65% 23%,
      68% 21%,
      70% 21%,
      73% 21%,
      76% 23%,
      78% 25%,
      80% 28%,
      82% 31%,
      84% 34%,
      86% 37%,
      87% 39%,
      89% 41%,
      91% 43%,
      94% 44%,
      96% 43%,
      98% 41%,
      100% 39%,
      100% 100%,
      0% 100%
    );
  }
  70% {
    clip-path: polygon(
      0% 47%,
      2% 51%,
      4% 54%,
      7% 59%,
      9% 62%,
      11% 65%,
      13% 67%,
      15% 69%,
      18% 70%,
      21% 69%,
      24% 67%,
      26% 64%,
      29% 60%,
      31% 56%,
      33% 51%,
      35% 47%,
      37% 42%,
      39% 38%,
      41% 35%,
      43% 32%,
      46% 29%,
      48% 27%,
      50% 26%,
      53% 25%,
      56% 25%,
      58% 26%,
      61% 28%,
      63% 30%,
      65% 33%,
      67% 37%,
      69% 41%,
      71% 46%,
      73% 51%,
      75% 55%,
      77% 58%,
      80% 60%,
      83% 60%,
      87% 59%,
      90% 56%,
      92% 53%,
      94% 49%,
      96% 45%,
      98% 42%,
      100% 39%,
      100% 100%,
      0% 100%
    );
  }
  80% {
    clip-path: polygon(
      0% 47%,
      2% 43%,
      4% 39%,
      7% 35%,
      10% 32%,
      12% 30%,
      14% 29%,
      16% 28%,
      19% 27%,
      22% 28%,
      25% 30%,
      27% 32%,
      29% 35%,
      31% 38%,
      34% 41%,
      36% 43%,
      39% 46%,
      42% 47%,
      44% 47%,
      47% 46%,
      50% 43%,
      52% 40%,
      54% 37%,
      56% 34%,
      58% 31%,
      60% 28%,
      63% 25%,
      65% 23%,
      68% 21%,
      70% 21%,
      73% 21%,
      76% 23%,
      78% 25%,
      80% 28%,
      82% 31%,
      84% 34%,
      86% 37%,
      87% 39%,
      89% 41%,
      91% 43%,
      94% 44%,
      96% 43%,
      98% 41%,
      100% 39%,
      100% 100%,
      0% 100%
    );
  }
  90% {
    clip-path: polygon(
      0% 47%,
      2% 51%,
      4% 54%,
      7% 59%,
      9% 62%,
      11% 65%,
      13% 67%,
      15% 69%,
      18% 70%,
      21% 69%,
      24% 67%,
      26% 64%,
      29% 60%,
      31% 56%,
      33% 51%,
      35% 47%,
      37% 42%,
      39% 38%,
      41% 35%,
      43% 32%,
      46% 29%,
      48% 27%,
      50% 26%,
      53% 25%,
      56% 25%,
      58% 26%,
      61% 28%,
      63% 30%,
      65% 33%,
      67% 37%,
      69% 41%,
      71% 46%,
      73% 51%,
      75% 55%,
      77% 58%,
      80% 60%,
      83% 60%,
      87% 59%,
      90% 56%,
      92% 53%,
      94% 49%,
      96% 45%,
      98% 42%,
      100% 39%,
      100% 100%,
      0% 100%
    );
  }
}

#home-page-image {
  width: 500px;
  height: 500px;
  position: absolute;
  right: -100px;
  bottom: -200px;
  opacity: 15%;
  transform: rotateY(180deg);
}

.home-page-container {
  min-width: 500px;
  min-height: 500px;
  margin: 50px;
  padding: 20px;
  border: 5px solid rgb(80, 80, 80);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(89, 192, 41, 0.8);
  box-shadow: 0px 0px 15px black;
  position: relative;
}

.home-page-container::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border: 5px solid rgb(80, 80, 80);
  border-radius: 50%;
  background-color: white;
  top: 10px;
  right: 10px;
}

.home-page-container::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border: 5px solid rgb(80, 80, 80);
  border-radius: 50%;
  background-color: white;
  bottom: 10px;
  left: 10px;
}

#home-page-container-title {
  width: 80%;
  display: none;
  justify-content: center;
  align-items: center;
}

#home-page-container-title img {
  width: 48px;
  height: 48px;
  margin-right: 10px;
}

#home-page-container-title span {
  font-size: 40px;
  font-weight: 700;
  color: white;
  -webkit-text-stroke: 1px rgb(80, 80, 80);
}

.home-page-element {
  min-width: 100%;
  min-height: 25%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#home-page-text {
  max-width: 60%;
  height: 100%;
  border: 5px solid rgb(80, 80, 80);
  border-radius: 10px;
  background-color: rgb(225, 225, 225);
}

#home-page-text p {
  margin: 20px;
  font-size: 15px;
  font-family: 'Consolas';
  font-weight: 600;
  text-align: justify;
  line-height: 1.2;
}

#home-page-profile {
  min-width: 20%;
  height: 100%;
  border: 5px solid rgb(80, 80, 80);
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-page-profile img {
  width: 115px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#home-page-container-icons {
  width: 80%;
  height: 50px;
  margin-top: 20px;
  display: none;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#home-page-container-icons img {
  width: 40px;
  height: 40px;
}

#wt-logo {
  animation: spin_around 3s linear infinite;
}

@keyframes spin_around {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#home-page-button {
  width: 100%;
  margin: 20px 0px 20px 0px;
  display: flex;
  justify-content: center;
  position: relative;
}

#home-page-button::before {
  content: '';
  position: absolute;
  width: 20%;
  height: 5px;
  top: 50%;
  left: 10%;
  background-color: rgb(80, 80, 80);
}

#home-page-button::after {
  content: '';
  position: absolute;
  width: 20%;
  height: 5px;
  top: 50%;
  right: 10%;
  background-color: rgb(80, 80, 80);
}

#home-page-button button {
  width: 200px;
  height: 80px;
  margin: 0px;
  border: 5px solid rgb(80, 80, 80);
  background-color: transparent;
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
}

#home-page-button button:hover {
  background-color: white;
}

#home-page-button button a {
  text-decoration: none;
  color: black;
}

@media (max-width: 1450px) {
  #home-page-animation {
    left: -650px;
  }
}

@media (max-width: 1350px) {
  #home-page-animation {
    left: -600px;
  }
}

@media (max-width: 1250px) {
  #home-page-animation {
    left: -550px;
  }
}

@media (max-width: 1150px) {
  #home-page-animation {
    left: -520px;
  }
  #home-page-image {
    right: -130px;
  }
}

@media (max-width: 1100px) {
  #home-page-image {
    display: none;
  }
}

@media (max-width: 1050px) {
  #home-page-animation {
    left: -500px;
  }
}

@media (max-width: 1000px) {
  #home-page-animation {
    display: none;
  }
}

@media (min-width: 800px) and (min-height: 750px) {
  .home-page {
    height: 750px;
  }
  #home-page-animation {
    display: block;
    top: 650px;
    left: 0px;
    transform: none;
  }
  #home-page-image {
    display: none;
  }
}

@media (max-width: 725px) {
  .home-page-container {
    width: 100vw;
    margin: 50px 0px 50px 0px;
    border-right: none;
    border-left: none;
    border-radius: 0;
  }
  .home-page-container::after {
    display: none;
  }
  .home-page-container::before {
    display: none;
  }
  #home-page-profile {
    display: none;
  }
  #home-page-text {
    max-width: 80%;
  }
  #home-page-container-title {
    display: inline-flex;
  }
  #home-page-container-icons {
    display: inline-flex;
  }
  #home-page-button::before {
    width: 15%;
  }
  #home-page-button::after {
    width: 15%;
  }
}

@media (max-width: 650px) {
  .App {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

@media (max-width: 500px) {
  #home-page-container-title {
    display: none;
  }
}

@media (max-width: 430px) {
  .home-page-container {
    min-width: 400px;
  }
  #home-page-button::after {
    display: none;
  }
  #home-page-button::before {
    display: none;
  }
}

@media (min-height: 850px) and (min-width: 725px) {
  .home-page {
    height: 800px;
  }
  .home-page-container {
    min-width: 700px;
  }
}

@media (min-width: 725px) and (min-height: 800px) {
  .home-page {
    height: 800px;
  }
  .home-page-container {
    transform: translateY(-50px);
  }
  #home-page-animation {
    display: block;
    top: 600px;
    left: 0px;
    transform: none;
  }
}

@media (min-height: 900px) {
  .home-page {
    height: 900px;
  }
  #home-page-animation {
    display: block;
    top: 700px;
    left: 0px;
    transform: none;
  }
}

@media (min-height: 1000px) {
  #home-page-animation {
    display: none;
  }
}

@media (max-width: 800px) and (min-height: 800px){
  #home-page-animation{
    display: none;
  }
}

/* login form */

.main-login {
  width: 100vw;
  height: 85vh;
  margin: 0 auto;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 384px;
  height: 430px;
  margin: 0px;
  padding: 0px;
  border: 5px solid rgb(80, 80, 80);
  border-radius: 20px;
  background-color: rgba(89, 192, 41, 0.8);
  box-shadow: 0px 0px 15px black;
}

.login-setting {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  position: relative;
}

.login-setting::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  border: 5px solid rgb(80, 80, 80);
  border-radius: 50%;
  background-color: white;
  right: 10px;
  top: 10px;
}

#login-title {
  font-size: 45px;
  margin: 0px;
  position: relative;
}

#login-title::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: rgb(80, 80, 80);
  bottom: 0px;
  left: 0px;
}

.login-formik {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

#login-label {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 2px;
  color: white;
  -webkit-text-stroke: 0.5px black;
}

#error {
  font-size: 12px;
  color: red;
}

#error2{
  font-size: 16px;
  color: red;
}

.login-formik input {
  width: 250px;
  height: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(80, 80, 80);
}

#button-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.login-formik button {
  width: 100px;
  height: 40px;
  margin-top: 20px;
  border: 2px solid rgb(80, 80, 80);
  background-color: transparent;
  color: black;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: white;
  text-decoration: underline;
}

@media (max-width: 450px) {
  .login-form {
    width: 100%;
    border-right: 0px;
    border-left: 0px;
    border-radius: 0;
  }
  .login-setting::after {
    display: none;
  }
}

@media (orientation: landscape) {
  .App {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

/* Contact */

.contact-main {
  width: 100vw;
  min-height: 600px;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  position: relative;
}

#email {
  position: absolute;
  width: 200px;
  height: 200px;
  opacity: 15%;
  bottom: 250px;
  right: 100px;
  animation: email-animation 6s ease;
}

@keyframes email-animation {
  from {
    bottom: -200px;
    width: 0px;
    height: 0px;
    transform: rotate(0deg);
  }
  to {
    bottom: 250px;
    width: 200px;
    height: 200px;
    transform: rotate(360deg);
  }
}

#delivery {
  position: absolute;
  width: 200px;
  height: 200px;
  opacity: 15%;
  top: 180px;
  left: 100px;
  animation: delivery-animation 6s ease;
}

@keyframes delivery-animation {
  from {
    top: -200px;
    width: 0px;
    height: 0px;
    transform: rotate(0deg);
  }
  to {
    top: 180px;
    width: 200px;
    height: 200px;
    transform: rotate(360deg);
  }
}

.contact-container {
  width: 500px;
  height: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 20px;
  border: 5px solid rgb(80, 80, 80);
  border-radius: 20px;
  background-color: rgba(89, 192, 41, 0.8);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  box-shadow: 0px 0px 15px black;
}

#contact-title {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#contact-title::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border: 5px solid rgb(80, 80, 80);
  border-radius: 50%;
  background-color: white;
  top: 0px;
  right: 0px;
}

#contact-title h1 {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  position: relative;
}

#contact-title h1::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0px;
  left: 0px;
  background-color: rgb(80, 80, 80);
}

.contact-formik {
  width: 80%;
}

#contact-label {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
  color: white;
  -webkit-text-stroke: 0.5px black;
}

#contact-email {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#contact-message {
  width: calc(100% - 16px);
  height: 100px;
  margin-top: 10px;
  padding: 10px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.5;
  resize: none;
}

#contact-button {
  width: 100%;
  height: 50px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.contact-formik button {
  width: 150px;
  height: 100%;
  border: 2px solid rgb(80, 80, 80);
  background-color: transparent;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.contact-container button:hover {
  background-color: white;
}

@media (max-width: 1300px) {
  #email {
    right: 70px;
  }

  #delivery {
    left: 70px;
  }
}

@media (max-width: 1250px) {
  #email {
    width: 150px;
    height: 150px;
    bottom: 300px;
  }
  @keyframes email-animation {
    from {
      bottom: -350px;
      width: 0px;
      height: 0px;
      transform: rotate(0deg);
    }
    to {
      width: 150px;
      height: 150px;
      transform: rotate(360deg);
    }
  }
  #delivery {
    width: 150px;
    height: 150px;
  }
  @keyframes delivery-animation {
    from {
      top: -350px;
      width: 0px;
      height: 0px;
      transform: rotate(0deg);
    }
    to {
      width: 150px;
      height: 150px;
      transform: rotate(360deg);
    }
  }
}

@media (max-width: 1100px) {
  #email {
    width: 125px;
    height: 125px;
    bottom: 325px;
  }
  @keyframes email-animation {
    from {
      bottom: -350px;
      width: 0px;
      height: 0px;
      transform: rotate(0deg);
    }
    to {
      width: 125px;
      height: 125px;
      transform: rotate(360deg);
    }
  }
  #delivery {
    width: 125px;
    height: 125px;
  }
  @keyframes delivery-animation {
    from {
      top: -350px;
      width: 0px;
      height: 0px;
      transform: rotate(0deg);
    }
    to {
      width: 125px;
      height: 125px;
      transform: rotate(360deg);
    }
  }
}

@media (max-width: 1050px) {
  #email {
    right: 50px;
  }
  #delivery {
    left: 50px;
  }
}

@media (max-width: 1000px) {
  #email {
    width: 100px;
    height: 100px;
    bottom: 350px;
  }
  @keyframes email-animation {
    from {
      bottom: -350px;
      width: 0px;
      height: 0px;
      transform: rotate(0deg);
    }
    to {
      width: 100px;
      height: 100px;
      transform: rotate(360deg);
    }
  }
  #delivery {
    width: 100px;
    height: 100px;
  }
  @keyframes delivery-animation {
    from {
      top: -350px;
      width: 0px;
      height: 0px;
      transform: rotate(0deg);
    }
    to {
      width: 100px;
      height: 100px;
      transform: rotate(360deg);
    }
  }
}

@media (max-width: 900px) {
  #email {
    display: none;
  }
  #delivery {
    display: none;
  }
}

@media (max-width: 500px) {
  .contact-container {
    border-right: none;
    border-left: none;
    border-radius: 0%;
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media (max-width: 430px) {
  #contact-title::after {
    display: none;
  }

  #contact-title h1 {
    font-size: 35px;
  }
}

/* About */

.about-main {
  width: 100vw;
  height: 85vh;
  margin: 0 auto;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#about-main-container{
  width: 550px;
  height: 450px;
  padding: 20px 40px 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 5px solid rgb(80, 80, 80);
  border-radius: 20px;
  background-color: rgba(89, 192, 41, 0.8);
  box-shadow: 0px 0px 15px black;
  font-size: 18px;
  color: white;
  -webkit-text-stroke: 0.1px black;
  letter-spacing: 1px;
  text-align: justify;
  position: relative;
}

#about-main-container::before{
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border: 5px solid rgb(80, 80, 80);
  border-radius: 50%;
  background-color: white;
  top: 15px;
  right: 15px;
}

#about-main-container-title{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-main-container-title h1{
  margin: 0px 0px 10px 0px;
  font-size: 40px;
  color: black;
  position: relative;
}

#about-main-container h1::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: rgb(80, 80, 80);
  bottom: 0px;
  left: 0px;
}

#about-link{
  font-size: 18px;
  color: white;
  -webkit-text-stroke: 0.1px black;
  letter-spacing: 1px;
  text-decoration: none;
  border-bottom: 2px solid rgb(80, 80, 80);
}

#about-link:hover{
  color: black;
}

#about-main-container-end{
  width: 100%;
  margin-top: 10px;
  font-size: 20px;
  -webkit-text-stroke: 0.25px black;
  color: black;
  text-align: right;
}

#author-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#author-image{
  width: 150px;
  height: 150px;
  border: 5px solid rgb(80, 80, 80);
  border-radius: 50%;
  box-shadow: 0 3px 15px black;
}

#author-nickname{
  font-size: 24px;
  margin-top: 15px;
}

@media (max-width: 1050px){
  .about-main-container{
    order: 1;
  }
  #author-container{
    order: -1;
    height: 50%;
  }
  #author-image{
    width: 100px;
    height: 100px;
  }
  #author-nickname{
    font-size: 20px;
  }
  .about-main{
    position: relative;
  }
  #author-container:nth-child(1){
    position: absolute;
    top: 20px;
    left: 40px;
  }
  #author-container:nth-child(3){
    position: absolute;
    bottom: 20px;
    left: 40px;
  }
  #about-main-container{
    margin-left: 160px;
  }
}

@media (max-width: 850px){
  #about-main-container{
    margin-left: 0px;
  }
  #author-container{
    display: none;
  }
}

@media (max-width: 650px){
  #about-main-container{
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 0px;
    border-right: none;
    border-left: none;
  }
  #about-main-container-title h1{
    font-size: 30px;
  }
  #about-main-container-title{
    margin-bottom: 10px;
  }
  #about-main-container-end{
    margin-top: 20px;
  }
}

@media (max-width: 500px){
  .about-main{
    height: auto;
  }
  #about-main-container{
    padding-left: 20px;
    padding-right: 20px;
  }
  #about-main-container-end{
    font-size: 18px;
  }
}

@media (max-height: 650px){
  .about-main{
    height: auto;
  }
  #about-main-container{
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

/* Warning */

.warning-main {
  width: 100vw;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.warning-container {
  min-width: 400px;
  min-height: 500px;
  margin: 50px;
  padding: 20px;
  border: 5px solid rgb(80, 80, 80);
  border-radius: 20px;
  background-color: rgba(89, 192, 41, 0.8);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  box-shadow: 0px 0px 15px black;
  position: relative;
}

.warning-container::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  border: 5px solid rgb(80, 80, 80);
  border-radius: 50%;
  background-color: white;
  top: 10px;
  right: 10px;
}

#warning-container-header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#warning-container-header h1 {
  font-size: 60px;
  color: red;
  letter-spacing: 2px;
  -webkit-text-stroke: 2px black;
  position: relative;
}

#warning-container-header h1::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: red;
  border: 2px solid black;
  bottom: 0px;
  left: 0px;
}

#warning-container-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

#warning-container-login {
  width: 100%;
  text-align: center;
  font-size: 22px;
}

#warning-container-login a {
  color: black;
}

#warning-container-login a:hover {
  color: rgba(250, 250, 250, 0.6);
}

#warning-container-register {
  width: 100%;
  text-align: center;
  font-size: 22px;
}

#warning-container-register a {
  text-decoration: none;
  color: black;
}

#warning-container-register button {
  width: 150px;
  height: 50px;
  margin-top: 30px;
  border: 2px solid black;
  background-color: transparent;
  font-size: 18px;
  font-weight: 700;
}

#warning-container-register button:hover {
  background-color: white;
  cursor: pointer;
}

@media (max-width: 500px) {
  .warning-container {
    width: 100%;
    padding: 20px;
    border-right: none;
    border-left: none;
    border-radius: 0%;
    margin-right: 0px;
    margin-left: 0px;
  }

  .warning-container::after {
    display: none;
  }
}

/* channel form */
#channelform-title {
  margin: 0px;
  font-size: 38px;
  position: relative;
}
#channelform-title::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: rgb(80, 80, 80);
  bottom: 0px;
  left: 0px;
}

#channelform-label {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  color: white;
  letter-spacing: 2px;
  -webkit-text-stroke: 0.5px black;
}

#channelform-input {
  width: 250px;
  height: 40px;
  font-size: 16px;
}

#buttons-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

#buttons-container button {
  width: 100px;
  height: 40px;
  border: 2px solid black;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
}

#buttons-container button:hover {
  cursor: pointer;
  background-color: white;
}

/* channels */

.channels-main {
  width: 100vw;
  height: 84vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.channels-left-container {
  width: 600px;
  height: 450px;
  padding: 20px;
  background-color: rgba(89, 192, 41, 0.8);
  border: 5px solid rgb(80, 80, 80);
  border-radius: 20px;
  box-shadow: 0 0 10px black;
}

#channels-left-container-header {
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#channels-left-container-header h1 {
  margin: 0px;
  font-size: 36px;
  font-weight: 700;
  color: white;
  -webkit-text-stroke: 0.5px black;
}

#new-channel-button {
  width: 150px;
  height: 80%;
  font-size: 14px;
  font-weight: 600;
  border: 2px solid rgb(80, 80, 80);
  background-color: transparent;
}

#new-channel-button:hover {
  cursor: pointer;
  background-color: white;
}

#channels-container {
  width: calc(100% - 10px);
  height: 350px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

#channels-container::-webkit-scrollbar {
  width: 15px;
  height: 100%;
  background-color: rgba(80, 80, 80, 0.8);
  border-radius: 10px;
}

#channel-container {
  width: 90%;
  border: 2px solid black;
  margin-bottom: 20px;
  padding: 12px;
  position: relative;
}

#channel-container::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: white;
  top: 5px;
  left: 5px;
}

#channel-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-top: 5px;
}

#delete-channel-button {
  width: 16px;
  height: 16px;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#delete-channel-button img {
  width: 16px;
  height: 16px;
}

#channel-container-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#join-channel-button {
  background-color: transparent;
  border: 2px solid black;
  font-weight: 600;
}

#join-channel-button:hover {
  cursor: pointer;
  background-color: white;
}

#channel-container-activeusers {
  width: 100%;
  margin-top: 10px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#channel-container-activeusers span {
  text-indent: 5px;
}

.channels-right-container {
  width: 160px;
  padding: 20px;
  height: 450px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 5px solid rgb(80, 80, 80);
  border-radius: 20px;
  background-color: rgba(200, 200, 200, 0.5);
  box-shadow: 0 0 10px black;
}

#profile{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#nickname{
  width: 100%;
  margin-top: 15px;
  font-size: 18px;
  text-align: center;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* channel filters */

.channel-filters-container{
  width: 160px;
  height: 450px;
  padding: 20px;
  border: 5px solid rgb(80, 80, 80);
  border-radius: 20px;
  background-color: rgba(89, 192, 41, 0.8);
  box-shadow: 0 0 10px black;
  display: flex;
  flex-direction: column;
}

#channel-filters-container-title{
  margin: 0px;
  font-size: 24px;
  font-weight: 700;
  color: white;
  letter-spacing: 0.5px;
  -webkit-text-stroke: 0.5px black;
  text-align: center;
}

#channel-filters-form{
  display: flex;
  flex-direction: column;
}

#channel-filters-input{
  height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#channel-filters-label-f,#channel-filters-label-s{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.filters, .sort{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sort{
  height: 140px;
}

.filters input, .sort input{
  cursor: pointer;
}

.filter-list{
  width: 100%;
  max-height: 75px;
  margin-top: 5px;
  margin-bottom: 5px;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: auto;
}

.filter-list::-webkit-scrollbar {
  width: 10px;
  height: 100%;
  background-color: rgba(80, 80, 80, 0.8);
  border-radius: 10px;
}
.filter-list::-webkit-scrollbar-track{
  border-radius: 10px;
}

#filter-list-container{
  width: 90%;
  margin-top: 5px;
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 14px;
}

#filter-list-container span{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#filter-button{
  width: 100%;
  height: 30px;
  margin: auto;
  border: 2px solid black;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
}

#filter-button:hover{
  background-color: white;
  cursor: pointer;
}


@media (max-width: 1120px){
  .channels-main {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  .channels-left-container{
    width: 60%;
    margin-left: 40px;
  }
  .channels-right-container{
    margin-right: 40px;
  }
  .channel-filters-container{
    width: 100%;
    max-height: 100px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #channel-filters-container-title{
    display: none;
  }
  .filters{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .filters div{
    max-width: 150px;
    margin-right: 10px;
  }
  .sort{
    width: 150px;
    align-items: center;
  }
  .sort select{
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
  }
  #channel-filters-label{
    margin: 0px;
  }
  #filter-button{
    margin: 0px;
  }
}

@media (max-width: 950px){
  .channels-left-container{
    width: 100%;
    margin-right: 40px;
    margin-bottom: 40px;
  }
  .channels-right-container{
    width: 100%;
    height: 100px;
    margin-left: 40px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  #profile{
    flex-direction: row;
  }
  #profile-image{
    min-width: 100px;
    min-height: 100px;
  }
  #nickname{
    margin-top: 0px;
    margin-left: 20px;
    text-align: left;
  }
  .upload-container form{
    flex-direction: row;
  }
}

@media (max-width: 850px){
  .filters div{
    width: 120px;
  }
  #channel-filters-input{
    width: 150px;
  }
}

@media (max-width: 780px){
  .channels-left-container{
    min-width: 600px;
  }
}

@media (max-width: 750px){
  .channel-filters-container{
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .channels-left-container, .channels-right-container{
    margin-left: 15px;
    margin-right: 15px;
  }
  #channel-filters-input{
    width: 130px;
  }
}

@media (max-width: 680px){
  .channel-filters-container{
    padding: 15px;
  }
  #channel-filters-label-f{
    display: none;
  }
  .sort{
    width: 100px;
  }
  #filter-button{
    height: 20px;
    font-size: 14px;
  }
  #join-channel-button{
    margin-left: 10px;
  }
  #channel-owner{
    width: 200px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .channels-left-container{
    min-width: 300px;
  }
}

@media (max-width: 580px){
  .channel-filters-container, .channels-left-container, .channels-right-container{
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px;
    border-left: none;
    border-right: none;
  }
  .channels-left-container{
    height: 440px;
  }
}

@media (max-width: 550px){
  .channel-filters-container,.channels-left-container{
    padding-left: 10px;
    padding-right: 10px;
  }
  .channels-right-container{
    padding: 10px;
  }
}

@media (max-width: 520px){
  #channel-container-status{
    flex-direction: column;
    align-items: flex-start;
  }
  #channel-container-header, #channel-container-activeusers{
    margin: 0px;
  }
  #join-channel-button{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
  }
  #channel-owner{
    width: auto;
    overflow-x: auto;
  }
  .channel-filters-container{
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    height: 300px;
  }
  #channel-filters-input{
    width: 100%;
    margin-top: 0px;
    margin-bottom: 5px;
  }
  .channel-filters-container{
    align-items: flex-start;
  }
  .sort{
    height: 80px;
    justify-content: start;
  }
  .sort select{
    margin-bottom: 5px;
  }
  #channel-filters-label-s{
    margin-top: 0px;
    margin-bottom: 5px;
  }
  .filter-list{
    max-height: 50px;
    margin-top: 0px;
    overflow-y: auto;
  }
  #filter-list-container{
    margin-left: 5px;
  }
}

@media (max-width: 450px){
  .channel-filters-container, .channels-left-container{
    padding: 10px;
  }
  #channels-left-container-header{
    margin-bottom: 15px;
  }
  #channels-left-container-header h1{
    font-size: 28px;
  }
  #new-channel-button{
    height: 30px;
  }
  #channels-container::-webkit-scrollbar{
    display: none;
  }
  #channels-left-container-header{
    padding: 0px;
  }
  #channels-container{
    width: 100%;
  }
}

@media (max-width: 380px){
  .sort{
    width: 90px;
  }
  .filters div{
    width: 110px;
    margin-right: 5px;
  }
  #checkbox{
    margin-left: 0px;
  }
}

/* Channel details */

.channel-details-main{
  width: 100vw;
  min-height: 84vh;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#channel-details-title{
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#channel-details-title h1{
  width: 100%;
  margin: 20px;
  text-align: center;
  white-space: wrap;
}

.channel-details-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.channel-details-left{
  width: 160px;
  height: 400px;
  padding: 20px;
  border: 5px solid rgb(80, 80, 80);
  border-radius: 20px;
  background-color: rgba(89, 192, 41, 0.8);
  box-shadow: 0 0 10px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.channel-details-left strong{
  font-size: 18px;
}

#name{
  margin-bottom: 5px;
}

#owner-name{
  width: 100%;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#channel-details-left-owner, #channel-details-left-users{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#channel-details-left-owner{
  font-size: 17px;
}

#channel-details-left-users-list{
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  overflow-y: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 17px;
}

#active-user{
  display: flex;
  align-items: center;
}

#point{
  min-width: 3px;
  min-height: 3px;
  margin-right: 5px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: white;
}

#active-user span{
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#channel-details-left-users-list::-webkit-scrollbar{
 width: 10px; 
 height: 100%;
 background-color: rgba(80, 80, 80, 0.8);
 border-radius: 10px;
}

#leave-channel-button{
  width: 150px;
  height: 40px;
  border: 2px solid black;
  font-size: 15px;
  font-weight: 600;
  background-color: transparent;
}

#leave-channel-button:hover{
  cursor: pointer;
  background-color: white;
  text-decoration: underline 2px;
}

.channel-details-messages{
  width: 240px;
  height: 400px;
  padding: 20px;
  border: 5px solid rgb(80, 80, 80);
  border-radius: 20px;
  background-color: rgba(89, 192, 41, 0.8);
  box-shadow: 0 0 10px black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#channel-details-messages-title{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#channel-details-messages-title h1{
   margin: 0px;
   font-size: 22px;
}

.channel-details-messages-container{
  width: 100%;
  height: 250px;
  overflow-y: auto;
}

.channel-details-messages-container::-webkit-scrollbar{
  width: 10px;
  height: 100%;
  border-radius: 10px;
}

#message{
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
}

#sender{
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 5px;
}

.channel-details-message-settings{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#channel-details-message-input{
  width: 100%;
  height: 30px;
  border: 2px solid black;
}

#channel-details-message-send-button{
  width: 100px;
  height: 30px;
  margin-top: 10px;
  border: 2px solid black;
  background-color: transparent;
  font-size: 18px;
  font-weight: 600;
}

#channel-details-message-send-button:hover{
  cursor: pointer;
  background-color: white;
  text-decoration: underline;
}

#chat{
  display: none;
}

.channel-details-media{
  width: 600px;
  height: 400px;
  padding: 20px;
  border: 5px solid rgb(80, 80, 80);
  border-radius: 20px;
  background-color: rgba(89, 192, 41, 0.8);
  box-shadow: 0 0 10px black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
  overflow-y: auto;
}

.channel-details-media::-webkit-scrollbar{
  display: none;
}

video{
  max-width: 31%;
  max-height: 31%;
  min-width: 31%;
  min-height: 31%;
  margin-bottom: 12px;
}

@media (max-width: 1200px){
  .channel-details-container{
    margin-right: 40px;
    margin-left: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .channel-details-left{
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
    padding: 10px 20px;
    flex-direction: row;
  }
  #channel-details-left-owner{
    width: 30%;
  }
  #channel-details-left-users{
    width: 50%;
    height: 100px;
  }
  #channel-details-left-users-list{
    height: 90px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  #active-user{
    width: 45%;
    height: 31%;
    margin-right: 10px;
  }
  .channel-details-messages{
    width: 25%;
  }
  .channel-details-media{
    width: 60%;
  }
}

@media (max-width: 1035px){
  .channel-details-left{
    position: relative;
  }
  #leave-channel-button{
    visibility: hidden;
  }
  #leave-channel-button::after{
    visibility: visible;
    content: 'Left channel';
    display: block;
    position: absolute;
    width: 100px;
    margin: auto;
    padding: 5px;
    border: 2px solid black;
    top: 45px;
    right: 30px;
  }
  #leave-channel-button:hover::after{
    background-color: white;
    cursor: pointer;
    text-decoration: underline;
  }
}

@media (max-width: 850px){
  #chat{
    display: flex;
    width: 32px;
    height: 32px;
    padding: 5px;
    border: 5px solid black;
    border-radius: 50%;
  }
  .channel-details-messages{
    display: none;
    width: 80%;
    height: 400px;
  }
  .channel-details-media{
    width: 80%;
  }
  .channel-details-container{
    align-items: unset;
  }
}

@media (max-width: 650px){
  .channel-details-container{
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media (max-width: 600px){
  #channel-details-left-users{
    width: 30%;
  }
  #active-user{
    width: 90%;
  }
  .channel-details-media{
    width: 75%;
  }
  .channel-details-messages{
    width: 75%;
  }
  video{
    min-width: 50%;
    max-width: 50%;
  }
}

@media (max-width: 535px){
  #channel-details-left-owner{
    width: 45%;
  }
  #channel-details-left-users{
    width: 45%;
  }
  #leave-channel-button{
    width: 0px;
    margin: 0px;
    padding: 0px;
    border: none;
  }
  .channel-details-left{
    margin-bottom: 90px;
    padding-right: 5px;
    position: static;
  }
  .channel-details-media, .channel-details-messages{
    width: 100%;
  }
  .channel-details-media{
    padding-left: 0px;
    padding-right: 0px;
  }
  .channel-details-container{
    position: relative;
  }
  #chat{
    position: absolute;
    top: 149px;
    right: 0px;
  }
  #leave-channel-button::after{
    width: 120px;
    margin: 0px;
    top: 152px;
    left: 0px;
    height: 28px;
    border-width: 4px;
    border-radius: 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
  }
  #leave-channel-button:hover::after{
    background-color: black;
    color: white;
    cursor: pointer;
  }
  #channel-details-title h1{
    font-size: 26px;
  }
}

@media (max-width: 430px){
  .channel-details-container{
    margin-left: 0px;
    margin-right: 0px;
  }
  .channel-details-left, .channel-details-media, .channel-details-messages{
    border-radius: 0px;
    border-left: none;
    border-right: none;
  }
  #chat{
    right: 10px;
  }
  #leave-channel-button::after{
    left: 10px;
  }
}


/* Loading page */

.loading-page-main{
  width: 100vw;
  height: 84vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#loading-page-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#loading-page-container img{
  width: 200px;
  height: 200px;
  animation: loading-page-spinner 3s linear infinite;
}

#loading-page-container h1{
  margin-top: 30px;
  font-size: 60px;
  color: white;
  -webkit-text-stroke: 3px black;
  position: relative;
}

#loading-page-container h1::before{
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  color: black;
  -webkit-text-stroke: 0px white;
  overflow: hidden;
  animation: loading-page-text 3s ease-out infinite;
}

@keyframes loading-page-spinner{
  from{
    transform: rotate(0deg);
  }to{
    transform: rotate(360deg);
  }
}

@keyframes loading-page-text{
  from{
    width: 0%;
  }to{
    width: 100%;
  }
}

/* Image upload */

#profile-image{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0px 3px 15px black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgba(255,255,255,0.5);
}

.upload-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.upload-container form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#upload-image{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  visibility: hidden;
}

#upload-image::-webkit-file-upload-button{
  visibility: hidden;
}

#upload-image::before{
  content: 'Select file';
  width: 80px;
  margin: auto;
  margin-top: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
  visibility: visible;
}

#upload-image:hover::before{
  cursor: pointer;
  background-color: white;
  text-decoration: underline;
  box-shadow: 0px 0px 5px black;
}

#set-image{
  width: 60px;
  margin: auto;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
}

#set-image:hover{
  cursor: pointer;
  background-color: white;
  text-decoration: underline;
  box-shadow: 0px 0px 5px black;
}

#image-status{
  font-size: 16px;
  text-align: center;
}

@media (max-width: 1024px){
  .App::-webkit-scrollbar{
    display: none;
  }
}