*::-webkit-scrollbar {
  width: 15px;
  height: 100%;
  background-color: rgba(80, 80, 80, 0.8);
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
  background-color: rgba(225, 225, 225, 0.5);
}

*::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: rgba(225, 225, 225, 0.7);
}

.App {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0px;
  overflow: hidden;
}

header {
  width: 100%;
  min-height: 100px;
  background-color: rgb(89, 192, 41);
  border-bottom: 5px solid rgb(80, 80, 80);
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 15px black;
}

#header-left-container {
  height: 100%;
  margin-left: 25px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

#header-center-container {
  display: none;
  position: relative;
}

#list {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

#logo {
  width: 75px;
  height: 75px;
}

#header-text {
  margin: 0px;
  font-size: 60px;
  color: white;
  -webkit-text-stroke: 1px rgb(80, 80, 80);
}

#header-text-after {
  display: none;
  margin: 0px;
  font-size: 60px;
  color: white;
  -webkit-text-stroke: 1px rgb(80, 80, 80);
}

nav {
  margin: 0px 20px 0px 0px;
}

ul {
  list-style: none;
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
  display: inline-flex;
  flex-wrap: nowrap;
}

li {
  margin-right: 30px;
  padding: 0px;
}

.nav a {
  width: 100%;
  text-decoration: none;
  margin: 0px;
  padding: 0px 10px 0px 5px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  -webkit-text-stroke: 0.3px rgb(80, 80, 80);
  z-index: 1;
  position: relative;
}

.nav a::after {
  content: '';
  position: absolute;
  width: 100%;
  bottom: -41.5px;
  right: 0px;
  height: 0px;
  background-color: transparent;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: height 0.25s linear;
}

.nav a:hover::after {
  height: 77px;
  background-color: white;
  border-left: 3px solid rgb(80, 80, 80);
  border-right: 3px solid rgb(80, 80, 80);
  border-top: 3px solid rgb(80, 80, 80);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: -1;
}

.nav a:hover {
  color: rgb(89, 192, 41);
  -webkit-text-stroke: 0.3px transparent;
}

#droplist-container {
  content: '';
  position: absolute;
  width: 150px;
  height: 200px;
  background-color: rgb(89, 192, 41);
  border: 2px solid rgb(80, 80, 80);
  top: 80px;
  right: 0px;
  animation: ShowDropList 1s;
  z-index: 1;
}

@keyframes ShowDropList {
  from {
    height: 0px;
  }
  to {
    height: 200px;
  }
}

.droplist {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#droplist-element {
  width: 100%;
  height: 20%;
  margin: 0px;
  padding: 0px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#droplist-element::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgb(80, 80, 80);
  top: -2px;
}

.droplist a {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  font-weight: 700;
  color: white;
  -webkit-text-stroke: 0.3px black;
}

@media (max-width: 1120px) {
  #header-text {
    font-size: 40px;
  }
  #logo {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 1000px) {
  #header-text {
    display: none;
  }
  #header-text-after {
    display: block;
  }
}

@media (max-width: 850px) {
  header {
    justify-content: space-evenly;
  }

  #header-text-after {
    display: none;
  }
}

@media (max-width: 725px) {
  #header-left-container {
    display: none;
  }

  nav {
    width: 100%;
    margin-right: 30px;
    margin-left: 30px;
  }

  ul {
    display: flex;
    justify-content: space-between;
  }

  li {
    margin: 0;
  }
}

@media (max-width: 650px) {
  .nav a {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  #header-left-container {
    height: 100%;
    margin-left: 0px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  #logo {
    width: 60px;
    height: 60px;
  }

  #header-text {
    display: block;
    font-size: 40px;
  }

  #header-center-container {
    display: flex;
  }

  nav {
    display: none;
  }
}

@media (max-width: 430px) {
  #logo {
    width: 50px;
    height: 50px;
  }

  #header-text {
    font-size: 35px;
  }

  #list {
    width: 25px;
    height: 25px;
  }
}

/* home page */

.home-page {
  width: 100vw;
  min-height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

#home-page-animation {
  position: absolute;
  left: -700px;
  width: 100%;
  height: 25%;
  transform: rotateY(0deg);
  transform: rotateZ(90deg);
  background-color: black;
  opacity: 15%;
  animation: freq-animation 10s ease-in-out infinite;
}

@keyframes freq-animation {
  0%,
  100% {
    clip-path: polygon(
      0% 47%,
      2% 43%,
      4% 39%,
      7% 35%,
      10% 32%,
      12% 30%,
      14% 29%,
      16% 28%,
      19% 27%,
      22% 28%,
      25% 30%,
      27% 32%,
      29% 35%,
      31% 38%,
      34% 41%,
      36% 43%,
      39% 46%,
      42% 47%,
      44% 47%,
      47% 46%,
      50% 43%,
      52% 40%,
      54% 37%,
      56% 34%,
      58% 31%,
      60% 28%,
      63% 25%,
      65% 23%,
      68% 21%,
      70% 21%,
      73% 21%,
      76% 23%,
      78% 25%,
      80% 28%,
      82% 31%,
      84% 34%,
      86% 37%,
      87% 39%,
      89% 41%,
      91% 43%,
      94% 44%,
      96% 43%,
      98% 41%,
      100% 39%,
      100% 100%,
      0% 100%
    );
  }
  10% {
    clip-path: polygon(
      0% 47%,
      2% 51%,
      4% 54%,
      7% 59%,
      9% 62%,
      11% 65%,
      13% 67%,
      15% 69%,
      18% 70%,
      21% 69%,
      24% 67%,
      26% 64%,
      29% 60%,
      31% 56%,
      33% 51%,
      35% 47%,
      37% 42%,
      39% 38%,
      41% 35%,
      43% 32%,
      46% 29%,
      48% 27%,
      50% 26%,
      53% 25%,
      56% 25%,
      58% 26%,
      61% 28%,
      63% 30%,
      65% 33%,
      67% 37%,
      69% 41%,
      71% 46%,
      73% 51%,
      75% 55%,
      77% 58%,
      80% 60%,
      83% 60%,
      87% 59%,
      90% 56%,
      92% 53%,
      94% 49%,
      96% 45%,
      98% 42%,
      100% 39%,
      100% 100%,
      0% 100%
    );
  }
  20% {
    clip-path: polygon(
      0% 47%,
      2% 43%,
      4% 39%,
      7% 35%,
      10% 32%,
      12% 30%,
      14% 29%,
      16% 28%,
      19% 27%,
      22% 28%,
      25% 30%,
      27% 32%,
      29% 35%,
      31% 38%,
      34% 41%,
      36% 43%,
      39% 46%,
      42% 47%,
      44% 47%,
      47% 46%,
      50% 43%,
      52% 40%,
      54% 37%,
      56% 34%,
      58% 31%,
      60% 28%,
      63% 25%,
      65% 23%,
      68% 21%,
      70% 21%,
      73% 21%,
      76% 23%,
      78% 25%,
      80% 28%,
      82% 31%,
      84% 34%,
      86% 37%,
      87% 39%,
      89% 41%,
      91% 43%,
      94% 44%,
      96% 43%,
      98% 41%,
      100% 39%,
      100% 100%,
      0% 100%
    );
  }
  30% {
    clip-path: polygon(
      0% 47%,
      2% 51%,
      4% 54%,
      7% 59%,
      9% 62%,
      11% 65%,
      13% 67%,
      15% 69%,
      18% 70%,
      21% 69%,
      24% 67%,
      26% 64%,
      29% 60%,
      31% 56%,
      33% 51%,
      35% 47%,
      37% 42%,
      39% 38%,
      41% 35%,
      43% 32%,
      46% 29%,
      48% 27%,
      50% 26%,
      53% 25%,
      56% 25%,
      58% 26%,
      61% 28%,
      63% 30%,
      65% 33%,
      67% 37%,
      69% 41%,
      71% 46%,
      73% 51%,
      75% 55%,
      77% 58%,
      80% 60%,
      83% 60%,
      87% 59%,
      90% 56%,
      92% 53%,
      94% 49%,
      96% 45%,
      98% 42%,
      100% 39%,
      100% 100%,
      0% 100%
    );
  }
  40% {
    clip-path: polygon(
      0% 47%,
      2% 43%,
      4% 39%,
      7% 35%,
      10% 32%,
      12% 30%,
      14% 29%,
      16% 28%,
      19% 27%,
      22% 28%,
      25% 30%,
      27% 32%,
      29% 35%,
      31% 38%,
      34% 41%,
      36% 43%,
      39% 46%,
      42% 47%,
      44% 47%,
      47% 46%,
      50% 43%,
      52% 40%,
      54% 37%,
      56% 34%,
      58% 31%,
      60% 28%,
      63% 25%,
      65% 23%,
      68% 21%,
      70% 21%,
      73% 21%,
      76% 23%,
      78% 25%,
      80% 28%,
      82% 31%,
      84% 34%,
      86% 37%,
      87% 39%,
      89% 41%,
      91% 43%,
      94% 44%,
      96% 43%,
      98% 41%,
      100% 39%,
      100% 100%,
      0% 100%
    );
  }
  50% {
    clip-path: polygon(
      0% 47%,
      2% 51%,
      4% 54%,
      7% 59%,
      9% 62%,
      11% 65%,
      13% 67%,
      15% 69%,
      18% 70%,
      21% 69%,
      24% 67%,
      26% 64%,
      29% 60%,
      31% 56%,
      33% 51%,
      35% 47%,
      37% 42%,
      39% 38%,
      41% 35%,
      43% 32%,
      46% 29%,
      48% 27%,
      50% 26%,
      53% 25%,
      56% 25%,
      58% 26%,
      61% 28%,
      63% 30%,
      65% 33%,
      67% 37%,
      69% 41%,
      71% 46%,
      73% 51%,
      75% 55%,
      77% 58%,
      80% 60%,
      83% 60%,
      87% 59%,
      90% 56%,
      92% 53%,
      94% 49%,
      96% 45%,
      98% 42%,
      100% 39%,
      100% 100%,
      0% 100%
    );
  }
  60% {
    clip-path: polygon(
      0% 47%,
      2% 43%,
      4% 39%,
      7% 35%,
      10% 32%,
      12% 30%,
      14% 29%,
      16% 28%,
      19% 27%,
      22% 28%,
      25% 30%,
      27% 32%,
      29% 35%,
      31% 38%,
      34% 41%,
      36% 43%,
      39% 46%,
      42% 47%,
      44% 47%,
      47% 46%,
      50% 43%,
      52% 40%,
      54% 37%,
      56% 34%,
      58% 31%,
      60% 28%,
      63% 25%,
      65% 23%,
      68% 21%,
      70% 21%,
      73% 21%,
      76% 23%,
      78% 25%,
      80% 28%,
      82% 31%,
      84% 34%,
      86% 37%,
      87% 39%,
      89% 41%,
      91% 43%,
      94% 44%,
      96% 43%,
      98% 41%,
      100% 39%,
      100% 100%,
      0% 100%
    );
  }
  70% {
    clip-path: polygon(
      0% 47%,
      2% 51%,
      4% 54%,
      7% 59%,
      9% 62%,
      11% 65%,
      13% 67%,
      15% 69%,
      18% 70%,
      21% 69%,
      24% 67%,
      26% 64%,
      29% 60%,
      31% 56%,
      33% 51%,
      35% 47%,
      37% 42%,
      39% 38%,
      41% 35%,
      43% 32%,
      46% 29%,
      48% 27%,
      50% 26%,
      53% 25%,
      56% 25%,
      58% 26%,
      61% 28%,
      63% 30%,
      65% 33%,
      67% 37%,
      69% 41%,
      71% 46%,
      73% 51%,
      75% 55%,
      77% 58%,
      80% 60%,
      83% 60%,
      87% 59%,
      90% 56%,
      92% 53%,
      94% 49%,
      96% 45%,
      98% 42%,
      100% 39%,
      100% 100%,
      0% 100%
    );
  }
  80% {
    clip-path: polygon(
      0% 47%,
      2% 43%,
      4% 39%,
      7% 35%,
      10% 32%,
      12% 30%,
      14% 29%,
      16% 28%,
      19% 27%,
      22% 28%,
      25% 30%,
      27% 32%,
      29% 35%,
      31% 38%,
      34% 41%,
      36% 43%,
      39% 46%,
      42% 47%,
      44% 47%,
      47% 46%,
      50% 43%,
      52% 40%,
      54% 37%,
      56% 34%,
      58% 31%,
      60% 28%,
      63% 25%,
      65% 23%,
      68% 21%,
      70% 21%,
      73% 21%,
      76% 23%,
      78% 25%,
      80% 28%,
      82% 31%,
      84% 34%,
      86% 37%,
      87% 39%,
      89% 41%,
      91% 43%,
      94% 44%,
      96% 43%,
      98% 41%,
      100% 39%,
      100% 100%,
      0% 100%
    );
  }
  90% {
    clip-path: polygon(
      0% 47%,
      2% 51%,
      4% 54%,
      7% 59%,
      9% 62%,
      11% 65%,
      13% 67%,
      15% 69%,
      18% 70%,
      21% 69%,
      24% 67%,
      26% 64%,
      29% 60%,
      31% 56%,
      33% 51%,
      35% 47%,
      37% 42%,
      39% 38%,
      41% 35%,
      43% 32%,
      46% 29%,
      48% 27%,
      50% 26%,
      53% 25%,
      56% 25%,
      58% 26%,
      61% 28%,
      63% 30%,
      65% 33%,
      67% 37%,
      69% 41%,
      71% 46%,
      73% 51%,
      75% 55%,
      77% 58%,
      80% 60%,
      83% 60%,
      87% 59%,
      90% 56%,
      92% 53%,
      94% 49%,
      96% 45%,
      98% 42%,
      100% 39%,
      100% 100%,
      0% 100%
    );
  }
}

#home-page-image {
  width: 500px;
  height: 500px;
  position: absolute;
  right: -100px;
  bottom: -200px;
  opacity: 15%;
  transform: rotateY(180deg);
}

.home-page-container {
  min-width: 500px;
  min-height: 500px;
  margin: 50px;
  padding: 20px;
  border: 5px solid rgb(80, 80, 80);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(89, 192, 41, 0.8);
  box-shadow: 0px 0px 15px black;
  position: relative;
}

.home-page-container::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border: 5px solid rgb(80, 80, 80);
  border-radius: 50%;
  background-color: white;
  top: 10px;
  right: 10px;
}

.home-page-container::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border: 5px solid rgb(80, 80, 80);
  border-radius: 50%;
  background-color: white;
  bottom: 10px;
  left: 10px;
}

#home-page-container-title {
  width: 80%;
  display: none;
  justify-content: center;
  align-items: center;
}

#home-page-container-title img {
  width: 48px;
  height: 48px;
  margin-right: 10px;
}

#home-page-container-title span {
  font-size: 40px;
  font-weight: 700;
  color: white;
  -webkit-text-stroke: 1px rgb(80, 80, 80);
}

.home-page-element {
  min-width: 100%;
  min-height: 25%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#home-page-text {
  max-width: 60%;
  height: 100%;
  border: 5px solid rgb(80, 80, 80);
  border-radius: 10px;
  background-color: rgb(225, 225, 225);
}

#home-page-text p {
  margin: 20px;
  font-size: 15px;
  font-family: 'Consolas';
  font-weight: 600;
  text-align: justify;
  line-height: 1.2;
}

#home-page-profile {
  min-width: 20%;
  height: 100%;
  border: 5px solid rgb(80, 80, 80);
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-page-profile img {
  width: 115px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#home-page-container-icons {
  width: 80%;
  height: 50px;
  margin-top: 20px;
  display: none;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#home-page-container-icons img {
  width: 40px;
  height: 40px;
}

#wt-logo {
  animation: spin_around 3s linear infinite;
}

@keyframes spin_around {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#home-page-button {
  width: 100%;
  margin: 20px 0px 20px 0px;
  display: flex;
  justify-content: center;
  position: relative;
}

#home-page-button::before {
  content: '';
  position: absolute;
  width: 20%;
  height: 5px;
  top: 50%;
  left: 10%;
  background-color: rgb(80, 80, 80);
}

#home-page-button::after {
  content: '';
  position: absolute;
  width: 20%;
  height: 5px;
  top: 50%;
  right: 10%;
  background-color: rgb(80, 80, 80);
}

#home-page-button button {
  width: 200px;
  height: 80px;
  margin: 0px;
  border: 5px solid rgb(80, 80, 80);
  background-color: transparent;
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
}

#home-page-button button:hover {
  background-color: white;
}

#home-page-button button a {
  text-decoration: none;
  color: black;
}

@media (max-width: 1450px) {
  #home-page-animation {
    left: -650px;
  }
}

@media (max-width: 1350px) {
  #home-page-animation {
    left: -600px;
  }
}

@media (max-width: 1250px) {
  #home-page-animation {
    left: -550px;
  }
}

@media (max-width: 1150px) {
  #home-page-animation {
    left: -520px;
  }
  #home-page-image {
    right: -130px;
  }
}

@media (max-width: 1100px) {
  #home-page-image {
    display: none;
  }
}

@media (max-width: 1050px) {
  #home-page-animation {
    left: -500px;
  }
}

@media (max-width: 1000px) {
  #home-page-animation {
    display: none;
  }
}

@media (min-width: 800px) and (min-height: 750px) {
  .home-page {
    height: 750px;
  }
  #home-page-animation {
    display: block;
    top: 650px;
    left: 0px;
    transform: none;
  }
  #home-page-image {
    display: none;
  }
}

@media (max-width: 725px) {
  .home-page-container {
    width: 100vw;
    margin: 50px 0px 50px 0px;
    border-right: none;
    border-left: none;
    border-radius: 0;
  }
  .home-page-container::after {
    display: none;
  }
  .home-page-container::before {
    display: none;
  }
  #home-page-profile {
    display: none;
  }
  #home-page-text {
    max-width: 80%;
  }
  #home-page-container-title {
    display: inline-flex;
  }
  #home-page-container-icons {
    display: inline-flex;
  }
  #home-page-button::before {
    width: 15%;
  }
  #home-page-button::after {
    width: 15%;
  }
}

@media (max-width: 650px) {
  .App {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

@media (max-width: 500px) {
  #home-page-container-title {
    display: none;
  }
}

@media (max-width: 430px) {
  .home-page-container {
    min-width: 400px;
  }
  #home-page-button::after {
    display: none;
  }
  #home-page-button::before {
    display: none;
  }
}

@media (min-height: 850px) and (min-width: 725px) {
  .home-page {
    height: 800px;
  }
  .home-page-container {
    min-width: 700px;
  }
}

@media (min-width: 725px) and (min-height: 800px) {
  .home-page {
    height: 800px;
  }
  .home-page-container {
    transform: translateY(-50px);
  }
  #home-page-animation {
    display: block;
    top: 600px;
    left: 0px;
    transform: none;
  }
}

@media (min-height: 900px) {
  .home-page {
    height: 900px;
  }
  #home-page-animation {
    display: block;
    top: 700px;
    left: 0px;
    transform: none;
  }
}

@media (min-height: 1000px) {
  #home-page-animation {
    display: none;
  }
}

/* login form */

.main-login {
  width: 100vw;
  min-height: 600px;
  margin: 0 auto;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 384px;
  height: 430px;
  margin: 0px;
  padding: 0px;
  border: 5px solid rgb(80, 80, 80);
  border-radius: 20px;
  background-color: rgba(89, 192, 41, 0.8);
  box-shadow: 0px 0px 15px black;
}

.login-setting {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  position: relative;
}

.login-setting::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  border: 5px solid rgb(80, 80, 80);
  border-radius: 50%;
  background-color: white;
  right: 10px;
  top: 10px;
}

#login-title {
  font-size: 45px;
  margin: 0px;
  position: relative;
}

#login-title::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: rgb(80, 80, 80);
  bottom: 0px;
  left: 0px;
}

.login-formik {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

#login-label {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 2px;
  color: white;
  -webkit-text-stroke: 0.5px black;
}

#error {
  font-size: 12px;
  color: red;
}

.login-formik input {
  width: 250px;
  height: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(80, 80, 80);
}

#button-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.login-formik button {
  width: 100px;
  height: 40px;
  margin-top: 20px;
  border: 2px solid rgb(80, 80, 80);
  background-color: transparent;
  color: black;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: white;
  text-decoration: underline;
}

@media (max-width: 450px) {
  .login-form {
    width: 100%;
    border-right: 0px;
    border-left: 0px;
    border-radius: 0;
  }
  .login-setting::after {
    display: none;
  }
}

@media (orientation: landscape) {
  .App {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

/* Contact */

.contact-main {
  width: 100vw;
  min-height: 600px;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  position: relative;
}

#email {
  position: absolute;
  width: 200px;
  height: 200px;
  opacity: 15%;
  bottom: 250px;
  right: 100px;
  animation: email-animation 6s ease;
}

@keyframes email-animation {
  from {
    bottom: -200px;
    width: 0px;
    height: 0px;
    transform: rotate(0deg);
  }
  to {
    bottom: 250px;
    width: 200px;
    height: 200px;
    transform: rotate(360deg);
  }
}

#delivery {
  position: absolute;
  width: 200px;
  height: 200px;
  opacity: 15%;
  top: 180px;
  left: 100px;
  animation: delivery-animation 6s ease;
}

@keyframes delivery-animation {
  from {
    top: -200px;
    width: 0px;
    height: 0px;
    transform: rotate(0deg);
  }
  to {
    top: 180px;
    width: 200px;
    height: 200px;
    transform: rotate(360deg);
  }
}

.contact-container {
  width: 500px;
  height: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 20px;
  border: 5px solid rgb(80, 80, 80);
  border-radius: 20px;
  background-color: rgba(89, 192, 41, 0.8);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  box-shadow: 0px 0px 15px black;
}

#contact-title {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#contact-title::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border: 5px solid rgb(80, 80, 80);
  border-radius: 50%;
  background-color: white;
  top: 0px;
  right: 0px;
}

#contact-title h1 {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  position: relative;
}

#contact-title h1::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0px;
  left: 0px;
  background-color: rgb(80, 80, 80);
}

.contact-formik {
  width: 80%;
}

#contact-label {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
  color: white;
  -webkit-text-stroke: 0.5px black;
}

#contact-email {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#contact-message {
  width: calc(100% - 16px);
  height: 100px;
  margin-top: 10px;
  padding: 10px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.5;
  resize: none;
}

#contact-button {
  width: 100%;
  height: 50px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.contact-formik button {
  width: 150px;
  height: 100%;
  border: 2px solid rgb(80, 80, 80);
  background-color: transparent;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.contact-container button:hover {
  background-color: white;
}

@media (max-width: 1300px) {
  #email {
    right: 70px;
  }

  #delivery {
    left: 70px;
  }
}

@media (max-width: 1250px) {
  #email {
    width: 150px;
    height: 150px;
    bottom: 300px;
  }
  @keyframes email-animation {
    from {
      bottom: -350px;
      width: 0px;
      height: 0px;
      transform: rotate(0deg);
    }
    to {
      width: 150px;
      height: 150px;
      transform: rotate(360deg);
    }
  }
  #delivery {
    width: 150px;
    height: 150px;
  }
  @keyframes delivery-animation {
    from {
      top: -350px;
      width: 0px;
      height: 0px;
      transform: rotate(0deg);
    }
    to {
      width: 150px;
      height: 150px;
      transform: rotate(360deg);
    }
  }
}

@media (max-width: 1100px) {
  #email {
    width: 125px;
    height: 125px;
    bottom: 325px;
  }
  @keyframes email-animation {
    from {
      bottom: -350px;
      width: 0px;
      height: 0px;
      transform: rotate(0deg);
    }
    to {
      width: 125px;
      height: 125px;
      transform: rotate(360deg);
    }
  }
  #delivery {
    width: 125px;
    height: 125px;
  }
  @keyframes delivery-animation {
    from {
      top: -350px;
      width: 0px;
      height: 0px;
      transform: rotate(0deg);
    }
    to {
      width: 125px;
      height: 125px;
      transform: rotate(360deg);
    }
  }
}

@media (max-width: 1050px) {
  #email {
    right: 50px;
  }
  #delivery {
    left: 50px;
  }
}

@media (max-width: 1000px) {
  #email {
    width: 100px;
    height: 100px;
    bottom: 350px;
  }
  @keyframes email-animation {
    from {
      bottom: -350px;
      width: 0px;
      height: 0px;
      transform: rotate(0deg);
    }
    to {
      width: 100px;
      height: 100px;
      transform: rotate(360deg);
    }
  }
  #delivery {
    width: 100px;
    height: 100px;
  }
  @keyframes delivery-animation {
    from {
      top: -350px;
      width: 0px;
      height: 0px;
      transform: rotate(0deg);
    }
    to {
      width: 100px;
      height: 100px;
      transform: rotate(360deg);
    }
  }
}

@media (max-width: 900px) {
  #email {
    display: none;
  }
  #delivery {
    display: none;
  }
}

@media (max-width: 500px) {
  .contact-container {
    border-right: none;
    border-left: none;
    border-radius: 0%;
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media (max-width: 430px) {
  #contact-title::after {
    display: none;
  }

  #contact-title h1 {
    font-size: 35px;
  }
}

/* About */

.about-main {
  width: 100vw;
  height: 85vh;
  margin: 0 auto;
  padding: 0;
}

/* Warning */

.warning-main {
  width: 100vw;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.warning-container {
  min-width: 400px;
  min-height: 500px;
  margin: 50px;
  padding: 20px;
  border: 5px solid rgb(80, 80, 80);
  border-radius: 20px;
  background-color: rgba(89, 192, 41, 0.8);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  box-shadow: 0px 0px 15px black;
  position: relative;
}

.warning-container::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  border: 5px solid rgb(80, 80, 80);
  border-radius: 50%;
  background-color: white;
  top: 10px;
  right: 10px;
}

#warning-container-header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#warning-container-header h1 {
  font-size: 60px;
  color: red;
  letter-spacing: 2px;
  -webkit-text-stroke: 2px black;
  position: relative;
}

#warning-container-header h1::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: red;
  border: 2px solid black;
  bottom: 0px;
  left: 0px;
}

#warning-container-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

#warning-container-login {
  width: 100%;
  text-align: center;
  font-size: 22px;
}

#warning-container-login a {
  color: black;
}

#warning-container-login a:hover {
  color: rgba(250, 250, 250, 0.6);
}

#warning-container-register {
  width: 100%;
  text-align: center;
  font-size: 22px;
}

#warning-container-register a {
  text-decoration: none;
  color: black;
}

#warning-container-register button {
  width: 150px;
  height: 50px;
  margin-top: 30px;
  border: 2px solid black;
  background-color: transparent;
  font-size: 18px;
  font-weight: 700;
}

#warning-container-register button:hover {
  background-color: white;
  cursor: pointer;
}

@media (max-width: 500px) {
  .warning-container {
    width: 100%;
    padding: 20px;
    border-right: none;
    border-left: none;
    border-radius: 0%;
    margin-right: 0px;
    margin-left: 0px;
  }

  .warning-container::after {
    display: none;
  }
}

/* channel form */
#channelform-title {
  margin: 0px;
  font-size: 38px;
  position: relative;
}
#channelform-title::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: rgb(80, 80, 80);
  bottom: 0px;
  left: 0px;
}

#channelform-label {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  color: white;
  letter-spacing: 2px;
  -webkit-text-stroke: 0.5px black;
}

#channelform-input {
  width: 250px;
  height: 40px;
  font-size: 16px;
}

#buttons-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

#buttons-container button {
  width: 100px;
  height: 40px;
  border: 2px solid black;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
}

#buttons-container button:hover {
  cursor: pointer;
  background-color: white;
}

/* channels */

.channels-main {
  margin: 50px;
  display: flex;
  justify-content: space-between;
}

.channels-left-container {
  width: 600px;
  padding: 20px;
  background-color: rgba(89, 192, 41, 0.8);
  border: 5px solid rgb(80, 80, 80);
  border-radius: 20px;
  box-shadow: 0 0 10px black;
}

#channels-left-container-header {
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#channels-left-container-header h1 {
  margin: 0px;
  font-size: 36px;
  font-weight: 700;
  color: white;
  -webkit-text-stroke: 0.5px black;
}

#new-channel-button {
  width: 150px;
  height: 80%;
  font-size: 14px;
  font-weight: 600;
  border: 2px solid rgb(80, 80, 80);
  background-color: transparent;
}

#new-channel-button:hover {
  cursor: pointer;
  background-color: white;
}

#channels-container {
  width: calc(100% - 10px);
  height: 350px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

#channels-container::-webkit-scrollbar {
  width: 15px;
  height: 100%;
  background-color: rgba(80, 80, 80, 0.8);
  border-radius: 10px;
}

#channel-container {
  width: 90%;
  border: 2px solid black;
  margin-bottom: 20px;
  padding: 12px;
  position: relative;
}

#channel-container::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: white;
  top: 5px;
  left: 5px;
}

#channel-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-top: 5px;
}

#delete-channel-button {
  width: 16px;
  height: 16px;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#delete-channel-button img {
  width: 16px;
  height: 16px;
}

#channel-container-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#join-channel-button {
  background-color: transparent;
  border: 2px solid black;
  font-weight: 600;
}

#join-channel-button:hover {
  cursor: pointer;
  background-color: white;
}

#channel-container-activeusers {
  width: 100%;
  margin-top: 10px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#channel-container-activeusers span {
  text-indent: 5px;
}

.channels-right-container {
  width: 200px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 5px solid rgb(80, 80, 80);
  border-radius: 20px;
  background-color: rgba(200, 200, 200, 0.5);
  box-shadow: 0 0 10px black;
}

#profile {
  width: 100px;
  height: 100px;
  border: 5px solid rgb(80, 80, 80);
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 3px 10px rgb(58, 58, 58);
}

/* channel filters */

.channel-filters-container{
  width: 160px;
  padding: 20px;
  border: 5px solid rgb(80, 80, 80);
  border-radius: 20px;
  background-color: rgba(89, 192, 41, 0.8);
  box-shadow: 0 0 10px black;
  display: flex;
  flex-direction: column;
}

#channel-filters-container-title{
  margin: 0px;
  font-size: 24px;
  font-weight: 700;
  color: white;
  letter-spacing: 0.5px;
  -webkit-text-stroke: 0.5px black;
  text-align: center;
}

#channel-filters-form{
  display: flex;
  flex-direction: column;
}

#channel-filters-input{
  height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#channel-filters-label{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.filters, .sort{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filters input, .sort input{
  cursor: pointer;
}

#filter-button{
  width: 100px;
  height: 30px;
  margin: auto;
  border: 2px solid black;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
}

#filter-button:hover{
  background-color: white;
  cursor: pointer;
}